.Home {
  background-image: url(../images/1.jpg) !important;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  padding: 50px 0;
}

.Home h1 {
  font-family: sans-serif;
  font-weight: 500;
}

.Home h1 span {
  opacity: 0;
  transition: all 0.4s ease 0s;
}

.Home h1 span.fade {
  opacity: 1;
}

/* About */
.about-content h2 {
  font-family: sans-serif;
  font-size: 26px;
  font-weight: 600;
  margin-top: 100px;
  margin-bottom: 30px;
}

.about-content p {
  margin-bottom: 26px;
  font-family: sans-serif;
  font-weight: 400px;
  line-height: 30px;
  color: #646464;
}

.about-content ul {
  list-style-type: none;
  padding-left: 0 !important;
}

.about-content ul li {
  color: gray;
}

.about-content ul li span i {
  margin-right: 3px;
}

/* social list */
.social-list {
  margin-top: 12px;
}

.social-list li {
  width: 35px;
  height: 35px;
  border: 1px solid #6c757d;
  border-radius: 50%;
  text-align: center;
  margin-right: 15px;
  transition: all 0.4s ease-in-out .1s;
  cursor: pointer;
}

.social-list li:hover {
  background-color: #c2c6c9;
  transform: rotate(10deg);
}

.social-list li a i {
  font-size: 18px;
  text-align: center;
  line-height: 35px;
  transition: all 0.4s ease-in-out .1s;
}

/* SERVICES */
.padding-edit {
  padding-bottom: 70px;
}

.single-service p {
  margin-top: 12px;
  font-size: 14px;
  line-height: 26px;
  margin-bottom: 10px;
  text-align: center;
}

.scla {
  transition: all .7s ease-in-out 0.1s;
}

.single-service:hover .scla {
  transform: scale(0.9);
  background-color: #969696;
  color: white;
}

/* MY Portfilie */
.section {
  padding: 100px 0px;
}

.section h2 {
  font-weight: 600;
  padding-bottom: 4px;
}

.portfilie-title {
  margin: 40px 0;
  list-style: none;
}

.portfilie-title li {
  margin-left: 10px;
}

.portfilie-title li a {
  text-decoration: none;
  margin: 4px 8px;
  color: #555555;
  font-size: 16px;
  font-weight: 600;
}

.portfilie-title li a:hover {
  text-decoration: line-through;
}

/* MY Portfilie IMAGE */
.my-portfilie-image {
  margin-bottom: 100px;
}

.edit-photo {
  transition: all .4s ease-in-out 0.2s;
}

.edit-photo img {
  transition: all .4s ease-in-out 0.2s;
}

.edit-photo:hover img {
  transform: scale(0.9);
}

.edit-photo:hover {
  background-color: #646464;
}

/* Footer */
.footer {
  padding-top: 50px;
  padding-bottom: 10px;
  text-align: center;
  background-color: #f1f1f1;
}

.footer-title {
  margin-bottom: 8px;
}

.footer-title a {
  font-size: 22px;
  font-weight: 700;
  color: #1a1a1a;
  transition: all .4s ease-in-out;
  text-decoration: none;
  display: inline-block;
}

.footer-title a:hover {
  color: #969696;
}

.footer-social-list li {
  display: inline-block;
}

.footer-social-list li a {
  text-align: center;
  font-size: 17px;
  color: #4e4e4e;
  margin: 0 9px;
  transition: all .4s linear .1s;
}

.footer-social-list li a:hover {
  color: black;
}

@media all and (max-width: 575px) {
  .edit-width {
    width: 30px;
    text-align: center;
  }
  /* progress bar */
  .skills-section {
    margin-top: 12px;
    padding-bottom: 80px;
  }
  .progress-bar-linear {
    padding: 0 10px;
    line-height: 38px;
  }
  .progress-bar-text {
    color: #202020;
    font-size: 14px;
    font-weight: 600;
  }
  .progress-cont {
    float: right;
    margin-right: 10px;
  }
  .progress-bar-linear .progress-bar-skills {
    background-color: #bbbaba;
    border-radius: 13px;
  }
  .progress-bar-skills .progress-bar-line {
    width: 5%;
    height: 6px;
    background-color: #3f3f3f;
    border-radius: 13px;
  }
  /* TESTIMONIALS */
  .testimonials {
    background-color: #fafafa;
    padding-bottom: 100px;
  }
  .testimonials .title {
    padding-top: 50px;
  }
  .testimonials .title h2 {
    font-weight: 600;
  }
  .edit-p p {
    padding: 20px;
    border: 0.5px solid #c8c8c8;
    color: #535353;
    line-height: 26px;
    border-radius: 3px;
  }
  .edit-img {
    margin-left: 25px;
    width: 92px;
    height: 92px;
    border: 4.5px solid gray;
    border-radius: 50%;
  }
  .edit-img img {
    border-radius: 50%;
    width: 84px;
    height: 84px;
  }
  .edit-text {
    margin-left: 10px !important;
    padding-top: 10px;
  }
  .edit-text h4 {
    width: 200px;
    font-family: sans-serif;
    font-weight: 600;
  }
  .edit-text p {
    width: 150px;
    font-family: sans-serif;
    font-weight: 500;
  }
  /* CONTACT */
  .contact-title h2 {
    font-family: sans-serif;
    font-weight: 510;
  }
  .icon-edit {
    margin-top: 50px;
    margin-bottom: 30px;
  }
  .c-icon {
    position: relative;
    top: 6px;
    left: 10px;
    width: 60px;
    height: 60px;
    float: left;
    color: white;
    background-color: #232323;
    border-radius: 50%;
    text-align: center;
    line-height: 60px;
    transition: all .4s ease-in-out .1s;
  }
  .icon-edit:hover .c-icon {
    color: black;
    background-color: #969696;
  }
  .icon-edit:hover .c-text {
    color: #6e6e6e;
  }
  .c-text {
    padding-top: 10px;
    margin-left: 80px;
    transition: all .4s ease-in-out .1s;
  }
  .c-text h5 {
    font-weight: 500;
  }
  .c-text h6 {
    font-weight: 550;
  }
  /* Form */
  .contact-form {
    margin-top: 50px;
  }
  .input-field {
    padding: 8px 16px;
    color: #232323;
    border: 1px solid #ddd;
  }
  .contact-form span {
    display: block;
    margin-top: 8px;
    margin-bottom: 30px;
    text-align: center;
  }
  textarea {
    height: 190px;
    resize: none;
  }
  #form-message {
    float: left;
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
  }
  .submit-btn {
    display: block;
    margin: 0 auto;
    padding: 8px 20px;
    font-size: 16px;
    font-weight: 700;
    border: 2px solid #333;
    outline: none;
    background-color: #333;
    color: #fafafa;
    cursor: pointer;
    transition: all .4s ease-in-out;
  }
  .submit-btn:hover {
    background-color: #fafafa;
    color: #333;
  }
}

/*
    *********************************************************
    *********************************************************
    ***************************SM****************************
    *********************************************************
    *********************************************************
    */
@media all and (min-width: 576px) and (max-width: 767px) {
  .edit-width {
    width: 30px;
    text-align: center;
  }
  /* progress bar */
  .skills-section {
    margin-top: 12px;
    padding-bottom: 80px;
  }
  .progress-bar-linear {
    padding: 0 10px;
    line-height: 38px;
  }
  .progress-bar-text {
    color: #202020;
    font-size: 14px;
    font-weight: 600;
  }
  .progress-cont {
    float: right;
    margin-right: 10px;
  }
  .progress-bar-linear .progress-bar-skills {
    background-color: #bbbaba;
    border-radius: 13px;
  }
  .progress-bar-skills .progress-bar-line {
    width: 5%;
    height: 6px;
    background-color: #3f3f3f;
    border-radius: 13px;
  }
  /* TESTIMONIALS */
  .testimonials {
    background-color: #fafafa;
    padding-bottom: 100px;
  }
  .testimonials .title {
    padding-top: 50px;
  }
  .testimonials .title h2 {
    font-weight: 600;
  }
  .edit-p p {
    padding: 20px;
    border: 0.5px solid #c8c8c8;
    color: #535353;
    line-height: 26px;
    border-radius: 3px;
  }
  .edit-img {
    margin-left: 25px;
    width: 92px;
    height: 92px;
    border: 4.5px solid gray;
    border-radius: 50%;
  }
  .edit-img img {
    border-radius: 50%;
    width: 84px;
    height: 84px;
  }
  .edit-text {
    padding-top: 10px;
    padding-left: 10px;
  }
  .edit-text h4 {
    width: 200px;
    font-family: sans-serif;
    font-weight: 600;
  }
  .edit-text p {
    width: 150px;
    font-family: sans-serif;
    font-weight: 500;
  }
  /* CONTACT */
  .contact-title h2 {
    font-family: sans-serif;
    font-weight: 510;
  }
  .icon-edit {
    margin-top: 50px;
    margin-bottom: 30px;
  }
  .c-icon {
    position: relative;
    top: 6px;
    left: 10px;
    width: 60px;
    height: 60px;
    float: left;
    color: white;
    background-color: #232323;
    border-radius: 50%;
    text-align: center;
    line-height: 60px;
    transition: all .4s ease-in-out .1s;
  }
  .icon-edit:hover .c-icon {
    color: black;
    background-color: #969696;
  }
  .icon-edit:hover .c-text {
    color: #6e6e6e;
  }
  .c-text {
    padding-top: 10px;
    margin-left: 80px;
    transition: all .4s ease-in-out .1s;
  }
  .c-text h5 {
    font-weight: 500;
  }
  .c-text h6 {
    font-weight: 550;
  }
  /* Form */
  .contact-form {
    margin-top: 50px;
  }
  .input-field {
    padding: 8px 16px;
    color: #232323;
    border: 1px solid #ddd;
  }
  .contact-form span {
    display: block;
    margin-top: 8px;
    margin-bottom: 30px;
    text-align: center;
  }
  textarea {
    height: 190px;
    resize: none;
  }
  #form-message {
    float: left;
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
  }
  .submit-btn {
    display: block;
    margin: 0 auto;
    padding: 8px 20px;
    font-size: 16px;
    font-weight: 700;
    border: 2px solid #333;
    outline: none;
    background-color: #333;
    color: #fafafa;
    cursor: pointer;
    transition: all .4s ease-in-out;
  }
  .submit-btn:hover {
    background-color: #fafafa;
    color: #333;
  }
}

/*
    *********************************************************
    *********************************************************
    ***************************MD****************************
    *********************************************************
    *********************************************************
    */
@media all and (min-width: 768px) and (max-width: 991px) {
  /* navigation */
  .navbar-nav li a {
    transition: all 0.4s ease-in-out 0s !important;
  }
  .navbar-nav li a:hover {
    color: #818181 !important;
  }
  .navbar-nav li a::after {
    content: "";
    display: block;
    width: 100%;
    height: 1.5px;
    background-color: #818181 !important;
    transform: scaleX(0);
    transform-origin: left;
    margin: 0 auto;
    transition: all 0.4s ease-in-out 0s !important;
  }
  .navbar-nav li a:hover::after {
    transform: scaleX(1);
  }
  /* progress bar */
  .skills-section {
    margin-top: 12px;
    padding-bottom: 80px;
  }
  .progress-bar-linear {
    padding: 0 10px;
    line-height: 38px;
  }
  .progress-bar-text {
    color: #202020;
    font-size: 14px;
    font-weight: 600;
  }
  .progress-cont {
    float: right;
    margin-right: 10px;
  }
  .progress-bar-linear .progress-bar-skills {
    background-color: #bbbaba;
    border-radius: 13px;
  }
  .progress-bar-skills .progress-bar-line {
    width: 5%;
    height: 6px;
    background-color: #3f3f3f;
    border-radius: 13px;
  }
  /* SERVICES */
  /* TESTIMONIALS */
  .testimonials {
    background-color: #fafafa;
    padding-bottom: 100px;
  }
  .testimonials .title {
    padding-top: 50px;
  }
  .testimonials .title h2 {
    font-weight: 600;
  }
  .edit-p p {
    padding: 20px;
    border: 0.5px solid #c8c8c8;
    color: #535353;
    line-height: 26px;
    border-radius: 3px;
  }
  .edit-img {
    margin-left: 25px;
    width: 92px;
    height: 92px;
    border: 4.5px solid gray;
    border-radius: 50%;
  }
  .edit-img img {
    border-radius: 50%;
    width: 84px;
    height: 84px;
  }
  .edit-text {
    padding-top: 10px;
    padding-left: 10px;
  }
  .edit-text h4 {
    width: 200px;
    font-family: sans-serif;
    font-weight: 600;
  }
  .edit-text p {
    width: 150px;
    font-family: sans-serif;
    font-weight: 500;
  }
  /* CONTACT */
  .contact-title h2 {
    font-family: sans-serif;
    font-weight: 510;
  }
  .icon-edit {
    position: relative;
    margin-top: 50px;
    margin-bottom: 30px;
  }
  .c-icon {
    position: relative;
    top: 6px;
    left: 10px;
    width: 60px;
    height: 60px;
    float: left;
    color: white;
    background-color: #232323;
    border-radius: 50%;
    text-align: center;
    line-height: 60px;
    transition: all .4s ease-in-out .1s;
  }
  .icon-edit:hover .c-icon {
    color: black;
    background-color: #969696;
  }
  .icon-edit:hover .c-text {
    color: #6e6e6e;
  }
  .c-text {
    position: relative;
    padding-top: 10px;
    padding-left: 80px;
    transition: all .4s ease-in-out .1s;
  }
  .c-text h5 {
    font-weight: 500;
  }
  .c-text h6 {
    font-weight: 550;
  }
  /* Form */
  .contact-form {
    margin-top: 50px;
  }
  .input-field {
    padding: 8px 16px;
    color: #232323;
    border: 1px solid #ddd;
  }
  .contact-form span {
    display: block;
    margin-top: 8px;
    margin-bottom: 30px;
    text-align: center;
  }
  textarea {
    height: 190px;
    resize: none;
  }
  #form-message {
    float: left;
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
  }
  .submit-btn {
    display: block;
    margin: 0 auto;
    padding: 8px 20px;
    font-size: 16px;
    font-weight: 700;
    border: 2px solid #333;
    outline: none;
    background-color: #333;
    color: #fafafa;
    cursor: pointer;
    transition: all .4s ease-in-out;
  }
  .submit-btn:hover {
    background-color: #fafafa;
    color: #333;
  }
}

/*
    *********************************************************
    *********************************************************
    ***************************LG****************************
    *********************************************************
    *********************************************************
    */
@media all and (min-width: 992px) and (max-width: 1199px) {
  /* navigation */
  .navbar-nav li a {
    transition: all 0.4s ease-in-out 0s !important;
  }
  .navbar-nav li a:hover {
    color: #818181 !important;
  }
  .navbar-nav li a::after {
    content: "";
    display: block;
    width: 100%;
    height: 1.5px;
    background-color: #818181 !important;
    transform: scaleX(0);
    transform-origin: left;
    margin: 0 auto;
    transition: all 0.4s ease-in-out 0s !important;
  }
  .navbar-nav li a:hover::after {
    transform: scaleX(1);
  }
  /* About */
  .edit-padding {
    padding-bottom: 100px;
  }
  /* progress bar */
  .skills-section {
    margin-top: 100px;
  }
  .progress-bar-linear {
    padding: 15px 10px;
    line-height: 38px;
  }
  .progress-bar-text {
    color: #202020;
    font-size: 14px;
    font-weight: 600;
  }
  .progress-cont {
    float: right;
    margin-right: 10px;
  }
  .progress-bar-linear .progress-bar-skills {
    background-color: #bbbaba;
    border-radius: 13px;
  }
  .progress-bar-skills .progress-bar-line {
    width: 5%;
    height: 6px;
    background-color: #3f3f3f;
    border-radius: 13px;
  }
  /* SERVICES */
  .single-service {
    padding-right: 10px;
    border-right: 1px solid #a1a1a1;
  }
  .single-service p {
    margin-top: 12px;
    font-size: 14px;
    line-height: 26px;
    margin-bottom: 10px;
    text-align: center;
  }
  .scla {
    transition: all 0.4s ease-in-out 0s;
    margin: 12px 0;
  }
  .single-service:hover .scla {
    transform: scale(0.9);
    background-color: #969696;
    color: white;
  }
  .s-line {
    margin: 12px auto;
  }
  .service-content {
    border: none;
  }
  /* TESTIMONIALS */
  .testimonials {
    background-color: #fafafa;
    padding-bottom: 100px;
  }
  .testimonials .title {
    padding-top: 50px;
  }
  .testimonials .title h2 {
    font-weight: 600;
  }
  .edit-p p {
    padding: 20px;
    border: 0.5px solid #c8c8c8;
    color: #535353;
    line-height: 26px;
    border-radius: 3px;
  }
  .edit-img {
    margin-left: 25px;
    width: 92px;
    height: 92px;
    border: 4.5px solid gray;
    border-radius: 50%;
  }
  .edit-img img {
    border-radius: 50%;
    width: 84px;
    height: 84px;
  }
  .edit-text {
    padding-top: 10px;
    padding-left: 10px;
  }
  .edit-text h4 {
    width: 200px;
    font-family: sans-serif;
    font-weight: 600;
  }
  .edit-text p {
    width: 150px;
    font-family: sans-serif;
    font-weight: 500;
  }
  /* CONTACT */
  .contact-title h2 {
    font-family: sans-serif;
    font-weight: 510;
  }
  .icon-edit {
    position: relative;
    margin-top: 50px;
    margin-bottom: 30px;
  }
  .c-icon {
    position: relative;
    top: 6px;
    left: 10px;
    width: 60px;
    height: 60px;
    float: left;
    color: white;
    background-color: #232323;
    border-radius: 50%;
    text-align: center;
    line-height: 60px;
    transition: all .4s ease-in-out .1s;
  }
  .icon-edit:hover .c-icon {
    color: black;
    background-color: #969696;
  }
  .icon-edit:hover .c-text {
    color: #6e6e6e;
  }
  .c-text {
    position: relative;
    padding-top: 10px;
    padding-left: 80px;
    transition: all .4s ease-in-out .1s;
  }
  .c-text h5 {
    font-weight: 500;
  }
  .c-text h6 {
    font-weight: 550;
  }
  /* Form */
  .contact-form {
    margin-top: 50px;
  }
  .input-field {
    padding: 8px 16px;
    color: #232323;
    border: 1px solid #ddd;
  }
  .contact-form span {
    display: block;
    margin-top: 8px;
    margin-bottom: 30px;
    text-align: center;
  }
  textarea {
    height: 190px;
    resize: none;
  }
  #form-message {
    float: left;
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
  }
  .submit-btn {
    display: block;
    margin: 0 auto;
    padding: 8px 20px;
    font-size: 16px;
    font-weight: 700;
    border: 2px solid #333;
    outline: none;
    background-color: #333;
    color: #fafafa;
    cursor: pointer;
    transition: all .4s ease-in-out;
  }
  .submit-btn:hover {
    background-color: #fafafa;
    color: #333;
  }
  /* Footer */
  .footer {
    padding-top: 50px;
    padding-bottom: 10px;
    text-align: center;
    background-color: #f1f1f1;
  }
  .footer-title {
    color: #323232;
    margin-bottom: 8px;
  }
  .footer-title a {
    font-size: 22px;
    font-weight: 700;
    color: #1a1a1a;
    transition: all .4s ease-in-out;
    text-decoration: none;
    display: inline-block;
  }
  .footer-title a:hover {
    color: #969696;
  }
  .footer-social-list li {
    display: inline-block;
  }
  .footer-social-list li a {
    text-align: center;
    font-size: 17px;
    color: #4e4e4e;
    margin: 0 9px;
    transition: all .4s linear .1s;
  }
  .footer-social-list li a:hover {
    color: black;
  }
}

/*
    *********************************************************
    *********************************************************
    ***************************XL****************************
    *********************************************************
    *********************************************************
    */
@media all and (min-width: 1200px) and (max-width: 1399px) {
  /* navigation */
  .navbar-nav li a {
    transition: all 0.4s ease-in-out 0s !important;
  }
  .navbar-nav li a:hover {
    color: #818181 !important;
  }
  .navbar-nav li a::after {
    content: "";
    display: block;
    width: 100%;
    height: 1.5px;
    background-color: #818181 !important;
    transform: scaleX(0);
    transform-origin: left;
    margin: 0 auto;
    transition: all 0.4s ease-in-out 0s !important;
  }
  .navbar-nav li a:hover::after {
    transform: scaleX(1);
  }
  /* About */
  .edit-padding {
    padding-bottom: 100px;
  }
  /* progress bar */
  .skills-section {
    margin-top: 100px;
  }
  .progress-bar-linear {
    padding: 15px 10px;
    line-height: 38px;
  }
  .progress-bar-text {
    color: #202020;
    font-size: 14px;
    font-weight: 600;
  }
  .progress-cont {
    float: right;
    margin-right: 10px;
  }
  .progress-bar-linear .progress-bar-skills {
    background-color: #bbbaba;
    border-radius: 13px;
  }
  .progress-bar-skills .progress-bar-line {
    width: 5%;
    height: 6px;
    background-color: #3f3f3f;
    border-radius: 13px;
  }
  /* SERVICES */
  .single-service {
    padding: 0px 5px;
    border-right: 1.5px solid #a1a1a1;
  }
  .service-content {
    border: none;
  }
  /* TESTIMONIALS */
  .testimonials {
    background-color: #fafafa;
    padding-bottom: 100px;
  }
  .testimonials .title {
    padding-top: 50px;
  }
  .testimonials .title h2 {
    font-weight: 600;
  }
  .edit-p p {
    padding: 20px;
    border: 0.5px solid #c8c8c8;
    color: #535353;
    line-height: 26px;
    border-radius: 3px;
  }
  .edit-img {
    margin-left: 25px;
    width: 92px;
    height: 92px;
    border: 4.5px solid gray;
    border-radius: 50%;
  }
  .edit-img img {
    border-radius: 50%;
    width: 84px;
    height: 84px;
  }
  .edit-text {
    padding-top: 10px;
    padding-left: 10px;
  }
  .edit-text h4 {
    width: 200px;
    font-family: sans-serif;
    font-weight: 600;
  }
  .edit-text p {
    width: 150px;
    font-family: sans-serif;
    font-weight: 500;
  }
  /* CONTACT */
  .contact-title h2 {
    font-family: sans-serif;
    font-weight: 510;
  }
  .icon-edit {
    position: relative;
    margin-top: 50px;
    margin-bottom: 30px;
  }
  .c-icon {
    position: relative;
    top: 6px;
    left: 10px;
    width: 60px;
    height: 60px;
    float: left;
    color: white;
    background-color: #232323;
    border-radius: 50%;
    text-align: center;
    line-height: 60px;
    transition: all .4s ease-in-out .1s;
  }
  .icon-edit:hover .c-icon {
    color: black;
    background-color: #969696;
  }
  .icon-edit:hover .c-text {
    color: #6e6e6e;
  }
  .c-text {
    position: relative;
    padding-top: 10px;
    padding-left: 80px;
    transition: all .4s ease-in-out .1s;
  }
  .c-text h5 {
    font-weight: 500;
  }
  .c-text h6 {
    font-weight: 550;
  }
  /* Form */
  .contact-form {
    margin-top: 50px;
  }
  .input-field {
    padding: 8px 16px;
    color: #232323;
    border: 1px solid #ddd;
  }
  .contact-form span {
    display: block;
    margin-top: 8px;
    margin-bottom: 30px;
    text-align: center;
  }
  textarea {
    height: 190px;
    resize: none;
  }
  #form-message {
    float: left;
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
  }
  .submit-btn {
    display: block;
    margin: 0 auto;
    padding: 8px 20px;
    font-size: 16px;
    font-weight: 700;
    border: 2px solid #333;
    outline: none;
    background-color: #333;
    color: #fafafa;
    cursor: pointer;
    transition: all .4s ease-in-out;
  }
  .submit-btn:hover {
    background-color: #fafafa;
    color: #333;
  }
}

/*
    *********************************************************
    *********************************************************
    ***************************Xl****************************
    *********************************************************
    *********************************************************
    */
@media all and (min-width: 1400px) {
  /* navigation */
  .navbar-nav li a {
    transition: all 0.4s ease-in-out 0s !important;
  }
  .navbar-nav li a:hover {
    color: #818181 !important;
  }
  .navbar-nav li a::after {
    content: "";
    display: block;
    width: 100%;
    height: 1.5px;
    background-color: #818181 !important;
    transform: scaleX(0);
    transform-origin: left;
    margin: 0 auto;
    transition: all 0.4s ease-in-out 0s !important;
  }
  .navbar-nav li a:hover::after {
    transform: scaleX(1);
  }
  /* About */
  .edit-padding {
    padding-bottom: 100px;
  }
  /* progress bar */
  .skills-section {
    margin-top: 100px;
  }
  .progress-bar-linear {
    padding: 15px 10px;
    line-height: 38px;
  }
  .progress-bar-text {
    color: #202020;
    font-size: 14px;
    font-weight: 600;
  }
  .progress-cont {
    float: right;
    margin-right: 10px;
  }
  .progress-bar-linear .progress-bar-skills {
    background-color: #bbbaba;
    border-radius: 13px;
  }
  .progress-bar-skills .progress-bar-line {
    width: 5%;
    height: 6px;
    background-color: #3f3f3f;
    border-radius: 13px;
  }
  /* SERVICES */
  .single-service {
    padding: 0px 5px;
    border-right: 1.5px solid #a1a1a1;
  }
  .service-content {
    border: none;
  }
  /* TESTIMONIALS */
  .testimonials {
    background-color: #fafafa;
    padding-bottom: 100px;
  }
  .testimonials .title {
    padding-top: 50px;
  }
  .testimonials .title h2 {
    font-weight: 600;
  }
  .edit-p p {
    padding: 20px;
    border: 0.5px solid #c8c8c8;
    color: #535353;
    line-height: 26px;
    border-radius: 3px;
  }
  .edit-img {
    margin-left: 25px;
    width: 92px;
    height: 92px;
    border: 4.5px solid gray;
    border-radius: 50%;
  }
  .edit-img img {
    border-radius: 50%;
    width: 84px;
    height: 84px;
  }
  .edit-text {
    padding-top: 10px;
    padding-left: 10px;
  }
  .edit-text h4 {
    width: 200px;
    font-family: sans-serif;
    font-weight: 600;
  }
  .edit-text p {
    width: 150px;
    font-family: sans-serif;
    font-weight: 500;
  }
  /* CONTACT */
  .contact-title h2 {
    font-family: sans-serif;
    font-weight: 510;
  }
  .icon-edit {
    position: relative;
    margin-top: 50px;
    margin-bottom: 30px;
  }
  .c-icon {
    position: relative;
    top: 6px;
    left: 10px;
    width: 60px;
    height: 60px;
    float: left;
    color: white;
    background-color: #232323;
    border-radius: 50%;
    text-align: center;
    line-height: 60px;
    transition: all .4s ease-in-out .1s;
  }
  .icon-edit:hover .c-icon {
    color: black;
    background-color: #969696;
  }
  .icon-edit:hover .c-text {
    color: #6e6e6e;
  }
  .c-text {
    position: relative;
    padding-top: 10px;
    padding-left: 80px;
    transition: all .4s ease-in-out .1s;
  }
  .c-text h5 {
    font-weight: 500;
  }
  .c-text h6 {
    font-weight: 550;
  }
  /* Form */
  .contact-form {
    margin-top: 50px;
  }
  .input-field {
    padding: 8px 16px;
    color: #232323;
    border: 1px solid #ddd;
  }
  .contact-form span {
    display: block;
    margin-top: 8px;
    margin-bottom: 30px;
    text-align: center;
  }
  textarea {
    height: 190px;
    resize: none;
  }
  #form-message {
    float: left;
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
  }
  .submit-btn {
    display: block;
    margin: 0 auto;
    padding: 8px 20px;
    font-size: 16px;
    font-weight: 700;
    border: 2px solid #333;
    outline: none;
    background-color: #333;
    color: #fafafa;
    cursor: pointer;
    transition: all .4s ease-in-out;
  }
  .submit-btn:hover {
    background-color: #fafafa;
    color: #333;
  }
}
